<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
  <% if user_signed_in? %>
    <%= link_to "HelloWord", home_setboxes_path, class: 'navbar-brand' %>
  <% else %>
    <%= link_to "HelloWord", root_path, class: 'navbar-brand' %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <%= link_to t(".搜尋"), search_setboxes_path, class: 'nav-link' %>
      </li>     
      </li>
    
      <li class="nav-item">
        <%= link_to t(".建立"), new_setbox_path, class: 'nav-link' %>
      </li>
    </ul>



    <ul class="navbar-nav">

      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to t(".個人資料"), edit_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t(".登出"), destroy_user_session_path, class: 'nav-link', method: 'delete' %>
        </li>
        <li class="nav-item">
          <% if I18n.locale.to_s == "en" %>
            <%= link_to('中文', :locale => 'zh', class: 'nav-link') %>
          <% else %>
            <%= link_to('English', :locale => 'en', class: 'nav-link') %>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to t(".註冊"), new_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t(".登入"), new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <% if I18n.locale.to_s == "en" %>
            <%= link_to('中文', :locale => 'zh', class: 'nav-link') %>
          <% else %>
            <%= link_to('English', :locale => 'en', class: 'nav-link') %>
          <% end %>
        </li>
      <% end %>
    
    </ul>


  </div>
</nav>