<div class="container">
  <div class="d-flex justify-content-between py-4">
    <h1><%= t('.學習集列表') %> </h1>
    <%= link_to t(".新增學習集"), new_setbox_path, class: 'btn btn-primary btn-sm py-3 px-4' %>
  </div>

    <div class="row">
      <% @setbox.each do |setbox| %>
        <div class="col-lg-4 col-sm-12 my-2">
          <div class="card cardshadow">
            <div class="card-body border border-dark">
              <h5 class="card-title d-flex justify-content-between">
                <%= link_to setbox.title, setbox_path(setbox) %>
                (<%= setbox.cards.count %>)
              </h5>
              <p class="card-text">
                <%= setbox.description %>
              </p>
              <p class="card-text text-right">
                <small class="text-muted">
                  <%= setbox.updated_at %>
                </small>
              </p>
            </div>
          </div>
        </div>
      <% end %> 
    </div>
</div>