
<div class="jumbotron bg-light">
  <div class="row p-4">
    <div class="col-lg-5 col-md-12">
      <h1 class="display-4">Hello, word!</h1>
      <p class="lead"><%= t('.你是忘記了，還是記不起來？') %></p>
      <hr class="my-4">
      <p style="font-size:24px"><%= t('.善用零碎時間，記住任何你想記住的事物。') %></p>
    </div>
    <div class="col-lg-7 col-md-12">
      <img src="https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" style="width:100%">
    </div>
  </div>
</div>

<div class="bg-white mb-5">
  <div class="container">
    <div class="card-deck">
      <% @setboxes.each do |setbox| %>
        <div class="col-lg-6 col-md-12 text-white p-4">
          <div class="cardshadow p-3">
            <h5 class="card-title text-dark">
             <%= t('.學習集') %>：<%= link_to setbox.title, setbox_path(setbox) %>
            </h5>
            <p class="card-text text-dark">
             <%= t('.作者') %>：<%= setbox.user.name %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="search bg-gray p-5">
  <div class="container text-center">
    <%= form_tag(search_setboxes_path, :method => "get") do %>
      <%= text_field_tag :search, 
          nil, 
          class: "form-control", 
          placeholder: t(".搜尋學習集"), 
          style: "display:inline-block;width:75%;" 
      %> 
      <%= submit_tag t(".搜尋"),
          :name => nil,
          class: "btn btn-outline-dark" 
      %> 
    <% end %> 
  </div>
</div>

<%= render 'shared/frontend/footer' %>