<h1>新增學習集</h1>

<%= simple_form_for(@setbox) do |f| %>
  <%= f.input :title %>
  <h3>Setbox</h3>
  <div id='cards'>
    <%= f.simple_fields_for :cards do |card| %>
      <%= render 'card_fields', :f => card %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add card', f, :cards %>
    </div> 
  </div>
  <%= f.submit 'Save' %>
<% end %>
