<div class="search bg-gray p-5">
  <div class="container text-center">
    <%= form_tag(search_setboxes_path, :method => "get") do %>
    <%= hidden_field_tag :locale, I18n.locale %>
      <%= text_field_tag :search, 
          nil, 
          class: "form-control", 
          placeholder: t(".搜尋學習集"), 
          style: "display:inline-block;width:75%;" 
      %> 
      <%= submit_tag t(".搜尋"),
          :name => nil,
          class: "btn btn-outline-dark" 
      %> 
    <% end %> 
  </div>
</div>

<div class="bg-white">
  <div class="container">
    <div class="card-deck">
      <% @setboxes.each do |setbox| %>
        <div class="col-lg-4 col-md-6 col-sm-12 text-white p-4">
          <div class="cardshadow p-3">
            <h5 class="card-title text-dark">
             <%= t('.學習集') %>：<%= link_to setbox.title, setbox_path(setbox) %>
            </h5>
            <p class="card-text text-dark">
             <%= t('.作者') %>：<%= setbox.user.name %>
            </p>
            <% setbox.cards.each do |card| %>
              <p class="card-text text-dark">
              <% if params[:search].present? %>
                <%= t('.單字：')%><%= "#{card.card_word}" %>
              <% end %>
              </p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>