<%# QRCODE JAVASCRIPT %>
  <script type="text/javascript" src="http://static.runoob.com/assets/qrcode/qrcode.min.js"></script>
<%# QRCODE JAVASCRIPT %>

<div class="container">
  <div class="d-flex justify-content-between py-4">
    <h1> 學習集名稱：<%= @setbox.title %> </h1>
      <div>
        <button type="button" class="btn btn-primary btn-sm py-3 px-4 h1" data-toggle="modal" data-target="#exampleModalCenter">
          分享
        </button>

        <%= link_to "刪除", setbox_path(@setbox), method:'delete', data: {confirm:'確定嗎'}, class: "btn btn-danger btn-sm py-3 px-4 h1" %>
      </div>

      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="exampleModalCenterTitle">分享此學習集</h2>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-9">
                  <input id="urltext" type="text" value="<%= 'localhost:3000' + setbox_path(@setbox) %>" style="height: 100%; width:100% ">
                </div>
                <div class="col-3"> 
                  <button onclick="urlFunction()"type="button" class="btn btn-warning">複製連結</button>
                </div>
              </div>
              <div class="row d-flex mt-4 justify-content-center align-items-center">
                <div id="qrcode"></div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-2 text-center">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
          測驗
        </a>
        <%= link_to "筆試", "#", class: "list-group-item list-group-item-action" %>
        <%= link_to "選擇", "#", class: "list-group-item list-group-item-action" %>
        <%= link_to "複製", copy_setbox_path(@setbox), method: 'post', class: "list-group-item list-group-item-action" %>
        <%= link_to "ＰＲ", pullreq_setboxes_path, class: "list-group-item list-group-item-action" %>
      </div>
    </div>

    <div class="col-6 ml-5">
      <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner cardshadow">
          <div class="carousel-item active">
            <div class="card p-5">
              <div class="card-body p-5 text-center">
                <h1> 11 </h1>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card p-5">
              <div class="card-body p-5 text-center">
                <h1>22</h1>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card p-5">
              <div class="card-body p-5 text-center">
                <h1>33</h1>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div> 
  </div>
  <hr class="col-12 mt-5">
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <%= simple_form_for(@setbox) do |f| %>
        <div id='cards'>
          <h3>本學習集中的詞語 (<%= @setbox.cards.count %>) </h3>
          <%= f.simple_fields_for :cards do |card| %>
            <%= render 'show_fields', :f => card %>
            <button type="button" class="english" value=<%= card.object.id %>>Play</button>
            <button type="button" class="chinese" value=<%= card.object.id %>>播放</button>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="col text-center">
      <%= link_to "修改單詞卡", edit_setbox_path, class:'btn btn-xs btn-secondary' %>
    </div>

  </div>
</div>

<%# QRCODE JAVASCRIPT %>
  <script type="text/javascript">
    var qrcode = new QRCode(document.getElementById("qrcode"), {
      width : 250,
      height : 250
    });

    function makeCode () {		
      var elText = document.getElementById("urltext");
      qrcode.makeCode(elText.value);
    }

    makeCode();

    $("#urltext").
      on("blur", function () {
        makeCode();
      }).
      on("keydown", function (e) {
        if (e.keyCode == 13) {
          makeCode();
        }
      });
  </script>
<%# QRCODE JAVASCRIPT %>