<%= form_tag(judge_setbox_path) do%>
        <% @setbox.cards.sample(5).each do |card| %>
        <div>
          <%= "單字： #{card.card_word}" %>
        </div>
        <%= text_field_tag :write, 
          nil, 
          name: "card[#{card.id}]",
          class: "form-control", 
          # value: @answer[card.id],
          placeholder: "請輸入答案", 
          style: "display:inline-block;width:75%;" 
        %> 
      
        <%= "定義： #{card.card_def}" %>

        <% end %>

      <%= submit_tag "送出",
          :name => nil,
          class: "btn btn-outline-dark" 
      %> 
<% end %>