<div class="container">
  <div class="py-4">
    <h1><%= t('.筆試題') %>：</h1>
  </div>

  <div class="row">
    <div class="col-12">
      <%= form_tag(judge_setbox_path, class: 'form js-form', remote: true) do %>
        <% @setbox.cards.sample(5).each do |card| %>
        
          <div class="row mb-4">
            <div class="col-lg-5 col-sm-12">
              <h4><%= "單字：#{card.card_word}" %></h4>
            </div>
            <div class="col-lg-7 col-sm-12">
              <%= text_field_tag :id, 
                nil, 
                name: "card[#{card.id}]",
                class: "form-control", 
                placeholder: t(".請輸入答案")
              %> 
              <span class="wrong_answer" id="set_<%= card.id %>"></span>
            </div>
          </div>
        <% end %> 
          <%= submit_tag t(".送出"),
          :name => nil,
          class: "btn btn-primary btn-lg btn-block mt-3 p-3" 
          %> 
        </div> 
      <% end %>
    </div>
  </div>
</div>

<div id="my_modal_content"></div>

<script>




  
</script>