<!DOCTYPE html>
<html>
  <head>
    <title>HelloWord</title>
    <link rel="shortcut icon" href="https://i.imgur.com/4hbDbuk.png" type="image/x-icon">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/frontend/navbar' %>
    <%= render 'shared/frontend/flash' if notice %>
    <%= yield %>
  </body>
</html>
